/samples/**/*_chroot_*
/samples
/target
**/*.rs.bk
/cobertura.xml
/target-docker
/doc/.*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/